{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/card.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="game">

            <div class="rank">1</div>

            <div class="front">
                <img class="thumbnail" src="{{ asset_path(200, 246, 'behelit.jpg') }}" alt="">
                <h3 class="name">Game Name</h3>
            </div>
            <div class="front-stats">
                <div class="stats">
                    <p class="viewers">536.4k</p>
                    <div class="streamers">
                        <img src="{{ asset('images/streamer-1.jpg') }}" alt="">
                        <img src="{{ asset('images/streamer-2.jpg') }}" alt="">
                        <img src="{{ asset('images/streamer-3.jpg') }}" alt="">
                    </div>
                </div>
            </div>

            <div class="back">
                <div class="streaming-info">
                    <p class="game-stat">536.4k<span>Watching</span></p>
                    <p class="game-stat">25.8k<span>Streams</span></p>
                </div>
                <button class="btn-game">See more streams</button>
                <div class="streamers">
                    <div class="streamer">
                        <div class="icon">
                            <img src="{{ asset('images/streamer-1.jpg') }}" alt="">
                        </div>
                        <p class="name">Gamer 1</p>
                        <p class="number">33.6k</p>
                    </div>
                    <div class="streamer">
                        <div class="icon">
                            <img src="{{ asset('images/streamer-2.jpg') }}" alt="">
                        </div>
                        <p class="name">Gamer 2</p>
                        <p class="number">32.2k</p>
                    </div>
                    <div class="streamer">
                        <div class="icon">
                            <img src="{{ asset('images/streamer-3.jpg') }}" alt="">
                        </div>
                        <p class="name">Gamer 3</p>
                        <p class="number">17.3k</p>
                    </div>
                </div>
            </div>

            <div class="background">
                <svg width="0" height="0" x="0px" y="0px" xml:space="preserve">
                    <defs>
                        <clipPath id="wave" clipPathUnits="objectBoundingBox">
                            <path fill="#E30613" d="M1,0L1,0H0v0.4h0c0.2,0,0.2,0.1,0.5,0.1c0.2,0,0.2-0.1,0.5-0.1h0l0,0h0c0.2,0,0.2,0.1,0.5,0.1c0.2,0,0.2-0.1,0.5-0.1c0,0,0,0,0,0V0H1z"/>
                            <animateTransform attributeName="transform" type="translate" from="0 0" to="-200 0" begin="0s" dur="6s" repeatCount="indefinite"/>
                        </clipPath>
                    </defs>
                </svg>
                <img class="background-cover" src="{{ asset('images/behelit.jpg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}