{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="game">

            <div class="rank">1</div>

            <div class="front">
                <img class="thumbnail" src="{{ asset_path(200, 246, 'behelit.jpg') }}" alt="">
                <h3 class="name">Game Name</h3>
            </div>
            <div class="front-stats">
                <div class="stats">
                    <p class="viewers">536.4k</p>
                    <div class="streamers">
                        <img src="{{ asset('images/streamer-1.jpg') }}" alt="">
                        <img src="{{ asset('images/streamer-2.jpg') }}" alt="">
                        <img src="{{ asset('images/streamer-3.jpg') }}" alt="">
                    </div>
                </div>
            </div>

            <div class="back">
                <div class="streaming-info">
                    <p class="game-stat">536.4k<span>Watching</span></p>
                    <p class="game-stat">25.8k<span>Streams</span></p>
                </div>
                <button class="btn-game">See more streams</button>
                <div class="streamers">
                    <div class="streamer">
                        <div class="icon">
                            <img src="{{ asset('images/streamer-1.jpg') }}" alt="">
                        </div>
                        <p class="name">Gamer 1</p>
                        <p class="number">33.6k</p>
                    </div>
                    <div class="streamer">
                        <div class="icon">
                            <img src="{{ asset('images/streamer-2.jpg') }}" alt="">
                        </div>
                        <p class="name">Gamer 2</p>
                        <p class="number">32.2k</p>
                    </div>
                    <div class="streamer">
                        <div class="icon">
                            <img src="{{ asset('images/streamer-3.jpg') }}" alt="">
                        </div>
                        <p class="name">Gamer 3</p>
                        <p class="number">17.3k</p>
                    </div>
                </div>
            </div>

            <div class="background"></div>
        </div>
    </div>
{% endblock %}